<div>
  <c-chat-element
    name="You"
    message="Hello how is it going?">
  </c-chat-element>
    <c-chat-element
      name="ChatOTK"
      message="Not bad, you?">
  </c-chat-element>
</div>
<!-- <div class="col-xs-12">
  <cdk-virtual-scroll-viewport class="example-viewport" itemSize="60">
    <dl class="example-dl">
      <ng-container *cdkVirtualFor="let state of states">
        <dt class="example-dt">{{state.name}}</dt>
        <dd class="example-dd">{{state.capital}}</dd>
      </ng-container>
    </dl>
  </cdk-virtual-scroll-viewport>
</div> -->
<form>
  <mat-form-field class="chat-input">
    <!-- <mat-label>Chat</mat-label> -->
    <input matInput placeholder="Message ChatOTK...">
  </mat-form-field>
</form>