.chat-input {
  width: 90%;
  // position: absolute;
  bottom: 0;
  left: 10%;
}

.example-viewport {
  height: 200px;
  width: 100%;
  left: 10%;
  // border: 1px solid black;
}

.example-dt {
  height: 30px;
  font-weight: bold;
}

.example-dd {
  height: 30px;
}
