
<div class="chat-input">
  <cdk-virtual-scroll-viewport #virtualScroll class="example-viewport col-12" itemSize="60">
    <dl class="">
      <ng-container *cdkVirtualFor="let item of items">
        <dt class="name-dt list-item">{{item.name}}</dt>
        <dd class="message-dd">{{item.message}}</dd>
        <div *ngIf="item.loading" class="col-1">
          <mat-progress-bar mode="buffer"></mat-progress-bar>
        </div>
      </ng-container>
    </dl>
  </cdk-virtual-scroll-viewport>
    <mat-form-field class="chat-input">
    <input
      matInput
      type="text"
      placeholder="Message ChatOTK..."
      [(ngModel)]="message"
      (keydown.enter)="sendMessage()"
      >
  </mat-form-field>
</div>