<div>
  <mat-progress-bar
    *ngIf="loading"
    mode="query"></mat-progress-bar>
  <mat-accordion class="">
    <ng-container *ngFor="let n of news">
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ (n.heading.length > 80)? (n.heading | slice:0:80)+'...' : (n.heading) }}
          </mat-panel-title>
          <mat-panel-description>
            {{n.source}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>{{n.summary}}</p>
      </mat-expansion-panel>
    </ng-container>
  </mat-accordion>
</div>
